.p {
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(233, 213, 32);
    align-content: center;
}

.h1 {
    font-size: large;
    font-style: oblique;
}

.cajita {
    background-color: red;
    width: 500px;
    height: 500px;
    padding: 10px;
}